body{
    background-image: url(img/N3c_Qf1NtiCfZjjepvgXzf_v19OWjxUWqEqueyMpSpA.webp);
    background-size: cover;
    text-align: center;
}
h1{
    color: rgb(245, 4, 4);

}
footer{
    color: darkred;
}

